.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 30px;
  font-size: calc(10px + 2vmin);
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.App * {
  box-sizing: border-box;
}

.header h1 {
  margin: 0 0 20px;
}

.form {
  background: #f0f0f0;
}

.form__input {
  width: 25vw;
  min-width: 400px;
  padding: 20px 16px;
  border-radius: 0;
  border: 1px solid #bbb;
  box-shadow: inset 0 0 4px #ccc;
  transition: .15s ease;
}

.form__input:focus {
  outline: none;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
}
