.item {
    margin: 0;
    list-style: none;
    text-align: left;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fff;
    cursor: pointer;
}

.item__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__container--hidden {
    display: none;
}

.item__label {
    margin: 14px auto 14px 0;
    line-height: 20px;
}

.item--done .item__label {
    text-decoration: line-through;
    color: #bbb;
}

.item__edit {
    display: none;
    width: calc(100% - 27px);
    margin: 0 0 0 28px;
    padding: 12px 16px;
    font-size: inherit;
}

.item__edit--visible {
    display: block;
}

.item__checkbox {
    margin: 14px 16px;
    cursor: pointer;
}

.remove {
    opacity: 0;
    visibility: hidden;
    margin-right: 16px;
}

.item:hover .remove {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
}
